/* wishlist icon */
.FaHeart {
    color: red;
    height: 1.6em;
}

@keyframes heartBeat {
    0% {
        color: red;
    }

    20% {
        color: pink;
    }

    100% {
        color: red;
    }
}

.FaHeart:hover {
    animation: heartBeat 1.5s;
}

/* cart icon */
.GiShoppingCart {
    color: whitesmoke;

}

@keyframes cartBeat {
    0% {
        color: whitesmoke;
    }

    20% {
        color: rgb(42, 148, 172);
    }

    100% {
        color: whitesmoke;
    }
}

.GiShoppingCart:hover {
    animation: cartBeat 1.5s;
}

/* user icon */
.FaUser {
    color: whitesmoke;
}

@keyframes userBeat {
    0% {
        color: whitesmoke;
    }

    40% {
        color: rgb(42, 148, 172);
    }

    100% {
        color: whitesmoke;
    }
}

.FaUser:hover {
    animation: userBeat 1.5s;
}

.userDropdownToggle {
    background: none;
    border: none;
    padding: 0;
}

.custom-dropdown-menu a {
    color: #fff !important;
    text-decoration: none;
}

.userDropdownToggle::after {
    content: none;
}

/* brand logo */
.mmLogo {
    width: 4em;
}

.mmLogo:hover {
    transition: 1s;
    transform: scale(1.05);
}

.home-link {
    background: transparent;
    border: none;
}

.home-link:hover {
    animation: userBeat 1.5s;
}

.mmNavbarLight {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0;
    z-index: -1;
    animation: moveLight 4s alternate;
    pointer-events: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@keyframes moveLight {
    0% {
        transform: translateX(-100%);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

/* searchbar indicator separator & dropdown icon */
.css-tj5bde-Svg {
    display: none !important;
}

.css-1u9des2-indicatorSeparator {
    display: none;
}
