/* wishlist icon */
.FaHeart {
    color: red;
    height: 1.6em;
}

@keyframes heartBeat {
    0% {
        color: red;
    }
    20% {
        color: pink;
    }
    100% {
        color: red;
    }
}

.FaHeart:hover {
    animation: heartBeat 1.5s;
}

/* cart icon */
.GiShoppingCart {
    color: whitesmoke;

}

@keyframes cartBeat {
    0% {
        color: whitesmoke;
    }
    20% {
        color: rgb(42, 148, 172);
    }
    100% {
        color: whitesmoke;
    }
}

.GiShoppingCart:hover {
    animation: cartBeat 1.5s;
}

/* user icon */
.FaUser {
    color: whitesmoke;
}

@keyframes userBeat {
    0% {
        color: whitesmoke;
    }
    40% {
        color: rgb(42, 148, 172);
    }
    100% {
        color: whitesmoke;
    }
}

.FaUser:hover {
    animation: userBeat 1.5s;
}

.userDropdownToggle {
    background: none;
    border: none;
    padding: 0;
}

.custom-dropdown-menu a {
    color: #fff !important;
    text-decoration: none;
}

.userDropdownToggle::after {
    content: none;
}

/* brand logo */
.mmLogo {
    width: 2.9em;
}