@keyframes shine {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(100%);
    opacity: 1;
  }
}

.add-item-button-with-shine {
  position: relative;
  overflow: hidden;
  background-color: #007bff; /* Color azul original del botón */
  border: none;
  padding: 0.3em 1em; /* Ajusta el padding según lo necesites */
  font-size: large;
}

.add-item-button-with-shine:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgba(255,255,255,0), rgba(226, 226, 226, 0.718), rgba(255,255,255,0));
  transform: translateX(-100%);
  animation: shine 6s linear infinite;
}

.product-name-product-details {
    position: relative;
    background: linear-gradient(90deg, rgba(255,255,255,0), rgba(226, 226, 226, 0.718), rgba(255,255,255,0));
    padding: 10px;
    border-radius: 10px;
}

.table-striped-custom tbody tr:nth-child(odd) {
    background: linear-gradient(to right, rgba(207, 207, 207, 0), rgba(207, 207, 207, 0.5), rgba(207, 207, 207, 0));
}

.table-striped-custom tbody tr:nth-child(even) td {
    background: linear-gradient(to right, rgba(207, 207, 207, 0), rgba(207, 207, 207, 0.5), rgba(207, 207, 207, 0));
}

@keyframes bounce {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  .animate-price {
    z-index: 999;
    animation: bounce 1s infinite;
  }